body {
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 60px);
    background: radial-gradient(circle, rgba(138, 92, 246, 0.233) 0%, transparent 80%);
}

.file-upload-container {
    padding: 30px 70px 30px 70px;
    display: flex;
    box-sizing: border-box;
}

.file-list {
    width: 10vw;
    background-color: #282c34;
    padding: 10px;
    overflow-y: auto;
    width: 20%;
    max-width: 20%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.file-list ul {
    list-style: none;
    padding: 0;
}

.file-list-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    background-color: #5e5e5e;
    padding: 5px;
    border-radius: 5px;
}

.file-button {
    background-color: #5e5e5e;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    text-align: left;
    transition: background-color 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-list-item:hover {
    background-color: #5e5e5e;
}

.file-list-item.active {
    background-color: #6e6e6e;
}

.remove-file-button {
    border: 1px transparent solid;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    min-width: 32px;
    height: 32px;
}

.remove-file-button:hover {
    border: 1px white solid;
    background-color: #6e6e6e;
}

.remove-file-button svg {
    font-size: 16px;
}

.editor-container {
    border-radius: 5px;
    width: 50%;
    max-width: 50%;
}

.choose-file-button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.linting-results {
    width: 30%;
    max-width: 30%;
    padding: 0 20px 0 20px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.linting-results-container {
    overflow: auto;
    height: 100%;
    padding-right: 16px;
}

.linting-results h4 {
    font-size: 18px;
    margin: 5px 0;
}

.monaco-editor .warning-line {
    background-color: rgba(255, 165, 0, 0.2);
}

.monaco-editor .error-line {
    background-color: rgba(255, 0, 0, 0.2);
}

.myInlineDecoration {
    background: lightgreen;
}

.text-underline {
    cursor: pointer;
    margin-right: 5px;
    text-decoration-line: underline;
}

.lint-result-container {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    border-left: 4px solid #ff9900;
    background-color: #1c1c1c;
    margin-bottom: 10px;
}

.lint-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-3 {
    margin-top: 0.75rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.height-100 {
    height: 100%;
}

.error-toggle {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    width: 100%;
    text-align: left;
    font-weight: bold;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}

.error-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.error-description {
    height: 0;
    transition: height 0.7s linear;
}

.error-description.active {
    margin-top: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    display: block;
    color: black;
    margin-bottom: 5px;
    height: auto !important;
}

.btn-applyfix {
    background-color: rgb(245 158 11 / 1);
    color: white;
}

.btn-applyfix:hover {
    background-color: rgb(202, 129, 3);
}

.text-right {
    text-align: right;
}

.gap-2 {
    gap: 10px;
}

.btn-analyze {
    background-color: rgb(20 184 166 / 1);
    color: white;
}

.btn-analyze:hover {
    background-color: rgb(13 148 136);
}

.btn-upload {
    background: rgb(34 197 94 / 1);
    color: white;
}

.btn-upload:hover {
    background-color: rgb(17, 161, 70);
}

.btn-download:hover {
    filter: brightness(80%);
}

.button-container {
    position: relative;
    transition: all 0.3s ease;
    padding: 10px;
    cursor: pointer;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(13 148 136);
    background-color: rgb(20, 184, 166, 0.1);
    border-radius: 5px;
}

.button-container:hover,
.button-container.dragging {
    background-color: rgb(20 184 166);
    border: 2px solid rgb(13 148 136);
    transform: scale(1.02);
    color: white;
}