body {
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.file-upload-container {
    padding: 20px;
    display: flex;
    box-sizing: border-box;
}

.file-list {
    width: 10vw;
    background-color: #282c34;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    width: 25%;
    max-width: 25%;
}

.file-list ul {
    list-style: none;
    padding: 0;
}

.file-list-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    background-color: #5e5e5e;
    padding: 5px;
    border-radius: 5px;
}

.file-button {
    background-color: #5e5e5e;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    text-align: left;
    transition: background-color 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-list-item:hover {
    background-color: #5e5e5e;
}

.file-list-item.active {
    background-color: #6e6e6e;
}

.file-button.active:hover {
    background-color: #2fb84d;
}

.remove-file-button {
    border: 1px transparent solid;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    min-width: 32px;
    height: 32px;
}

.remove-file-button:hover {
    border: 1px white solid;
    background-color: #6e6e6e;
}

.remove-file-button svg {
    font-size: 16px;
}

.editor-container {
    border-radius: 5px;
    width: 40%;
    max-width: 40%;
}

.choose-file-button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.linting-results {
    width: 35%;
    max-width: 35%;
    padding: 0 20px 20px 20px;
    max-height: 100%;
}

.linting-results-container {
    overflow: auto;
    height: 88%;
}

.linting-results h4 {
    font-size: 18px;
    margin: 5px 0;
}

.monaco-editor .warning-line {
    background-color: rgba(255, 165, 0, 0.2);
    /* Light yellow for warning */
}

.monaco-editor .error-line {
    background-color: rgba(255, 0, 0, 0.2);
    /* Light red for error */
}

.myInlineDecoration {
    background: lightgreen;
}

.text-underline {
    cursor: pointer;
    margin-right: 5px;
    text-decoration-line: underline;
}

.lint-result-container {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    border-left: 4px solid #ff9900;
    background-color: #1c1c1c;
    margin-bottom: 10px;
}

.lint-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-3 {
    margin-top: 0.75rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.height-100 {
    height: 100%;
}

.error-toggle {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    width: 100%;
    text-align: left;
    font-weight: bold;
    align-items: center;
    gap: 5px;
}

.error-description {
    height: 0;
    transition: height 0.7s linear;
}

.error-description.active {
    margin-top: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    display: block;
    color: black;
    margin-bottom: 5px;
    height: auto !important;
}

.btn-applyfix {
    width: fit-content;
    text-wrap: nowrap;
    background-color: #ff9900;
}

.text-right {
    text-align: right;
}

.gap-2 {
    gap: 10px;
}